.git
.gitignore
.env
.env.example
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
testvenv/
testvenv2/
db.sqlite3
err.txt
err_text.txt
err_text2.txt
bandit_results.json
bandit_weatherapp.json
docker-compose.yml
Dockerfile
