{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    {% block css_link %}{% endblock  %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-colour">
        <div class="container-fluid">
          <span class="navbar-brand text-white">Clima</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ps-4" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item ps-3">
                <a class="nav-link active text-white" aria-current="page" href="{% url "home" %}" >Home</a>
              </li>
              <li class="nav-item ps-3">
                <a class="nav-link text-white" href="{% url 'find_weather' %}">Find Weather</a>
              </li>
              <li class="nav-item dropdown ps-3">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Alerts
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'alerts_statewise' %}">Statewise Alerts</a></li>
                  <li><a class="dropdown-item" href="{% url 'alerts_districtwise' %}">Districtwise Alerts</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown ps-3">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  News
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% if user_settings %}{% url 'global_news' %}{% else %}{% url 'settings' %}{% endif %}">Global News</a></li>
                  <li><a class="dropdown-item" href="{% if user_settings %}{% url 'national_news' %}{% else %}{% url 'settings' %}{% endif %}">National news</a></li>
                  <li><a class="dropdown-item" href="{% if user_settings %}{% url 'my_state_news' %}{% else %}{% url 'settings' %}{% endif %}" id="statenews_link">Regional News</a></li>
                </ul>
              </li>
              <li class="nav-item ps-3">
                <a class="nav-link text-white" href="{% if user_settings %}{% url 'radar' %}{% else %}{% url 'settings' %}{% endif %}">Radar</a>
              </li>
              <li class="nav-item ps-3">
                <a class="nav-link text-white" href="{% url 'settings' %}">{% if user_settings %}Settings{% else %}Get Started{% endif %}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block main_body %}
    {% endblock  %}
</body>
</html>